<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/Images/favicon.png" />
    <title>Admin Panel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        var RootUrl = '@Url.Content("~/")';
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customJs")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-inverse-admin">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Map", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Users", "Preview", "AppUsers")</li>
                    <li>@Html.ActionLink("User Tabs", "UserTabs", "Users")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-right-admin">
                    <li class="list-inline-item text-md" style="margin-right: 5px">
                        <a href="/AppUsers/LogOut" class="notification" id="signout">
                            Sign out
                        </a>
                    </li>
                    <li class="list-inline-item text-md">
                        <span style="float: right; margin-top: 17px; font-size: 14px; font-family: helvetica; margin-right: 7px; margin-left: 7px;">Welcome, @NYCMappingWebApp.Helpers.GlobalVariables.GetFromCookie("NYCUser", "Username")</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top: 50px">
        @RenderBody()
    </div>
</body>
</html>

