@model List<NYCMappingWebApp.Entities.Hpd_Registrations_Group>

@{
    Layout = "~/Views/Shared/_LayoutPages.cshtml";
    string infoMessage = TempData["InfoMessage"] as string;
    string errorMessage = TempData["ErrorMessage"] as string;
}
<h2> Total records @Model.Count</h2>
<table width="100%" border="1" class="table table-striped">
    <thead>
        <tr>
            <td align="center" colspan="4">Location</td>
            <td align="center" colspan="2">Information</td>
            <td align="center">RS Units</td>
            <td align="center" colspan="2">HPD Violations</td>
            <td align="center">Evictions</td>
            <td align="center">Landlord</td>
            <td align="center" colspan="2">Last Sale</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>Zipcode</td>
            <td>Borough</td>
            <td>BBL</td>
            <td>Built</td>
            <td>Units</td>
            <td>2019</td>
            <td>Open</td>
            <td>Total</td>
            <td>2019</td>
            <td>Officer/Owner</td>
            <td>Date</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody>
        @foreach (NYCMappingWebApp.Entities.Hpd_Registrations_Group item in Model)
        {
            <tr>
                <td>@item.Address</td>
                <td>@item.Zip</td>
                <td>@item.Boro</td>
                <td>@item.bbl</td>
                <td>@item.yearbuilt</td>
                <td>@item.unitsres</td>
                <td>@item.rsunits2019</td>
                <td>@item.openviolations</td>
                <td>@item.totalviolations</td>
                <td>@item.totalevictions</td>
                <td>@item.OwnerName</td>
                <td>@item.DOC_DATE</td>
                <td>@item.DOC_AMOUNT</td>
            </tr>
        }
    </tbody>
</table>