@model NYCMappingWebApp.Entities.AppUserInfo

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string infoMessage = TempData["InfoMessage"] as string;
    string errorMessage = TempData["ErrorMessage"] as string;
}

<h2>Are you sure you want to reset the password for this user?</h2>
<hr>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.User_ID)

        <div class="form-group">
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-4" style="padding-top: 7px">
                @Html.DisplayFor(model => model.Username)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">New Password</label>
            <div class="col-sm-4" style="padding-top: 7px">
                @Html.Raw(NYCMappingWebApp.Helpers.GlobalVariables.InitPassword)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <input type="submit" value="Reset" class="btn btn-primary btn-large" />
                @Html.ActionLink("Cancel", "Preview", null, new { @class = "btn btn-primary btn-large" })
            </div>
        </div>
    </div>
}